<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Admin Home</title>
    <link rel='stylesheet' href='static/library.css'>
</head>
<body>
    <h1>Welcome {{ name }}!</h1>
    {% if action %}
        <p id='test'>{{ action }}</p>
    {% endif %}

    <a href='/logout'>Logout</a>
    <a href='/admin/deactivate'>Normal</a>

    <h3>Add Reader</h3>
    <form action='' method='post'>
        <input type='number' name='card' placeholder='Card #' required>
        <input type='text' name='fname' placeholder='First Name' required>
        <input type='text' name='lname' placeholder='Last Name' required>
        <input type='text' name='email' placeholder='Email' required>
        <input type='number' name='phone' placeholder='Phone #'>
        <input type='text' name='address' placeholder='Address'>
        <input type='submit' name='add_reader' value='Add'>
    </form>

    <h3>Add Book Copy</h3>
    <form action='' method='post'>
        <input type='submit' name='add_book_copy' value='Add'>
    </form>

    <button class='toggle' target='books'>Toggle Books</button>
    <button class='toggle' target='readers'>Toggle Readers</button>

    <div id='readers'>
    <table>
    <tr>
        <th>Card #</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>
    {% for reader in readers %}
        <tr>
        <td>{{ reader.card }}</td>
        <td>{{ reader.lname }}</td>
        <td>{{ reader.fname }}</td>
        <td>{{ reader.email }}</td>
        <td>{{ reader.phone }}</td>
        <td>{{ reader.address }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <div id='books'>
    <table>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Address</th>
        <th>Date</th>
    </tr>
    {% for book in books %}
        <tr>
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.address }}</td>
        <td>{{ book.pubdate }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <script type='text/javascript' src='/static/jquery.js'></script>
    <script type='text/javascript' src='/static/library.js'></script>

</body>
</html>