<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Home Page</title>
</head>
<body>
    <h1>Hello {{ name }}!</h1>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    <a href='/logout'>Logout</a>

    <form action='' method='post'>
        <input type='submit' name='alpha' value='Alpha'>
        <input type='submit' name='beta' value='Beta'>
    </form>

    <form action='' method='post'>
        <input type='submit' name='gamma' value='Gamma'>
    </form>

    <div id='books'>
    <table>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Address</th>
        <th>Date</th>
    </tr>
    {% for book in books %}
        <tr>
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.address }}</td>
        <td>{{ book.pubdate }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>

</body>
</html>