<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Login</title>
</head>
<body>

<form action='' method='post'>
    <label for='email'>Email</label>
    <input type='text' name='email' placeholder='someone@example.com'><br>
    <label for='card'>Card #</label>
    <input type='text' name='card' placeholder='10001234'><br>
    <label for='pswd'>Password</label>
    <input type='password' name='pswd' placeholder='Password'><br>
    <input type='submit' value='Login'>
</form>

</body>
</html>